body {
    background: yellow;
    font-family: "Lucida Console", Courier, monospace;
}

.title {
    text-align: center;
}

.paneContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.pane {
    width: 40%;
    background: #fff;
    padding: 20px;
    height: 800px;
    border: 1px solid;
    border-radius: 5px;
}

.editPane {
}

.editor {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
}

.resultPane {
}