body {
    background: yellow;
    font-family: "Lucida Console", Courier, monospace;
}

.title {
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.pane {
    width: 40%;
    position: relative;
    height: 800px;
}

.leftPane {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.friendlyEditor {
    height: 50%;
}

.editorContainer {
    position: relative;
    height: 50%;
    width: 100%;
}

.errorMessage {
    position: absolute;
    height: 5%;
    width: 100%;
}

.paneContent {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    background: #fff;
    padding: 20px;
    margin: 3px;
}

.editorPaneContent {
    position: absolute;
    top: 20px;
    height: 95%;
}

.errorPaneContent {
    border: 3px solid red;
    margin: 0;
}

.resultPaneContent {
    height: 800px;
}

.editor {
    height: 100%;
    width: 100%;
    resize: none;
    outline: none;
    border: none;
}